.popup__job {
    max-width: 358px;
    padding: 0;
    height: 28px;
    margin: 30px 36px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid #545454;
}